<ion-modal-view ng-controller="ContactCtrl" class="contact">
  <ion-content>
    <ion-tabs class="tabs-positive tabs-icon-only" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
      <ion-tab icon="iconPersonTab" >
        <ion-nav-view name="home-tab" class="item-menu">
          <div ng-repeat="model in contacts | orderBy:['-isRegistered','displayName']">
            <ion-list ng-if="model.displayName !== '' && model.phoneNumbers !== null">
              <ion-item  class="itemContact" ng-if="model.isRegistered === true">
                <div ng-if="model.image_path.indexOf('.jpeg') > -1">
                  <img src="{{model.image_path}}" class="contactImg" alt="" />
                </div>
                <div ng-if="model.image_path.indexOf('.jpeg') === -1">
                  <img src="img/ionic.png" class="contactImg" alt="" />
                </div>
                <div class="nameContact">{{model.displayName}}</div>
                <i ng-click="showPopoverContactOptions(model, $event)" class="contactOptions ion-android-more-vertical"></i>
              </ion-item>
              <ion-item class="itemContact" ng-if="model.isRegistered !== true" ng-click="invitationBySms(model)">
                <img src="img/ionic.png" class="contactImg" alt="" />
                <div class="nameContact">{{model.displayName}}</div>
                <i class="plusContactIcon ion-android-add"></i>
              </ion-item>
            </ion-list>
          </div>
        </ion-nav-view>
      </ion-tab>
      <ion-tab icon="iconPeopleTab">
        <ion-nav-view name="menu-tab" class="item-menu">
          <div ng-repeat="eachGroup in groupObject | unique:'group'">
            <ion-list>
              <ion-item>
                <div class="itemGroupContact">
                  {{eachGroup.group}} <i ng-click="" class="icon-right ion-android-more-vertical"></i>
                </div>
                <div ng-repeat="contact in groupObject | orderBy:'name'">
                  <ion-list ng-if="contact.group === eachGroup.group">
                    <ion-item class="eachContactInGroup" ng-if="contact.name !== ''">
                      {{contact.name}} <i ng-click="deleteContactFromGroup(eachGroup.group, contact.phoneNumber)" class="icon-right ion-close"></i>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-modal-view>
