<ion-view view-title="Contact" class="contact">
  <ion-content>
    <ion-tabs class="tabs-positive tabs-icon-only" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
      <ion-tab title="Contacts" >
        <ion-nav-view name="home-tab" class="item-menu">
          <div ng-repeat="model in contacts | orderBy:'displayName'">
            <ion-list ng-if="model.displayName !== '' && model.phoneNumbers !== null">
              <ion-item>
                {{model.displayName}} : {{model.phoneNumbers[0].value}}
              </ion-item>
            </ion-list>
          </div>
        </ion-nav-view>
      </ion-tab>
      <ion-tab title="Groups">
        <ion-nav-view name="menu-tab" class="item-menu">
          <h3>No groups.</h3>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
