

<ion-modal-view ng-controller="InvitationCtrl" class="modalInvitation">
    <ion-content class="contentInvitation">
      <span class="titleActivity">Activité</span>
      <ion-scroll direction="x" class="emoji" ng-init="selection = {selectedNode: null}; emojiIsSelected = false;">
        <div class="row2">
          <img ng-repeat="emoji in objEmojiRaw1" class="eachEmoji" ng-class="{selectedIcon: selection.selectedNode === '{{emoji}}'}" ng-click="selection.selectedNode = '{{emoji}}'; emojiIsSelected = true; validateEmoji(emojiIsSelected, '{{emoji}}')" src="img/emoji/{{emoji}}" alt="" />
        </div>
        <div class="row2">
          <img ng-repeat="emoji in objEmojiRaw2" class="eachEmoji" ng-class="{selectedIcon: selection.selectedNode === '{{emoji}}'}" ng-click="selection.selectedNode = '{{emoji}}'; emojiIsSelected = true; validateEmoji(emojiIsSelected, '{{emoji}}')" src="img/emoji/{{emoji}}" alt="" />
        </div>
      </ion-scroll>

      <ion-tabs class="tabs-positive tabs-icon-only" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <ion-tab icon="iconPersonTab" >
          <ion-nav-view name="home-tab" class="item-menu">
            <div ng-repeat="model in contacts | orderBy:'displayName'">
              <ion-checkbox id="{{model.phoneNumbers}}" class="aloneContact" ng-if="model.displayName !== '' && model.phoneNumbers !== null && model.isRegistered === true" ng-model='checkStatus' ng-click='doIfChecked(checkStatus, model.phoneNumbers[0].value)'>
                  {{model.displayName}}
              </ion-checkbox>
            </div>
          </ion-nav-view>
        </ion-tab>
        <ion-tab icon="iconPeopleTab">
          <ion-nav-view name="menu-tab" class="item-menu">
            <div ng-repeat="eachGroup in groupObject | unique:'group'">
              <ion-checkbox class="group" ng-model='groupState' ng-click='selectContactFromGroup(eachGroup.group, groupState)'>
                <div class="itemGroup">
                  {{eachGroup.group}}
                </div>
                <div ng-repeat="contact in groupObject | orderBy:'name'">
                  <div class='{{eachGroup.group}} htmlContactInGroup' phone="{{contact.phoneNumber}}" ng-if="contact.group === eachGroup.group && contact.name !== ''">
                    {{contact.name}}
                  </div>
                </div>
              </ion-checkbox>
            </div>
          </ion-nav-view>
        </ion-tab>
      </ion-tabs>
      <div class="containerJoinMeNow" ng-click="gestureClosePopup($event)">
        <button class="joinMeNow btnRougePastel" ng-click="validateInvitation()"> <i class="ion-paper-airplane"></i>  Inviter</button>
      </div>
    </ion-content>
  </ion-modal-view>
