<ion-view hide-back-button="true" hide-nav-bar="true" view-title="JoinMe">
  <ng-map></ng-map>
    <div class="menuTransparent" ng-click="hideMenuTransparent($event)">
      <div class="containerBtnMenu">
        <button type="button" ng-click="deconnection()" name="button" class="btnHome"><img src="img/home.svg" alt="" /></button>
        <button type="button" ng-click="openContactModal()" name="button" class="btnContact"><img src="img/people.svg" alt="" /></button>
        <button type="button" ng-click="openSettingsModal()" name="button" class="btnSettings"><img src="img/gear.svg" alt="" /></button>
      </div>
    </div>
    <button ng-show="showClosePendingInvitation" ng-click="stopInvitation()" type="button" name="button" class="closePendingInvitation"><i class="ion-close-round"></i></button>
    <button ng-click="recenterOnMe()" type="button" name="button" class="recenterOnMe"><img src="img/recenter.svg" alt="" /></button>
    <button type="button" ng-click="openMenu()" name="button" class="btnOpenMenu"><img src="img/hamburger.svg" alt="" /></button>
    <div class="containerJoinMeBtn">
      <a ng-hide="showDirection === true" ng-click="storePositionInvitation()"><button class="btnRougePastel joinmeBtn">Join Me</button></a>
    </div>

    <div class="infosMap" on-swipe-down="gestureInfosMap()">
      <div class="chevronInfosBar" on-swipe-up="gestureInfosMap()" ng-click="gestureInfosMap()">
        <div class="senderName">
          {{senderName}}
        </div>
        <span class="duration"></span>
        <i class="ion-chevron-down"></i>
      </div>
      <div class="transport walk" kind='walk' ng-click="changeTransportKind('walk')">
        <i class="ion-android-walk"></i> <span class="transport walk"></span>
      </div>
      <div class="transport bicycle" kind="bicycle" ng-click="changeTransportKind('bicycle')">
        <i class="ion-android-bicycle"></i> <span class="transport bicycle"></span>
      </div>
      <div class="transport car" kind="car" ng-click="changeTransportKind('car')">
        <i class="ion-android-car"></i> <span class="transport car"></span>
      </div>
      <div class="accept" ng-hide="response === true" ng-click="responseInvitation(true)">
        <i class="ion-checkmark-round"></i>
      </div>
      <div class="refuse" ng-hide="response === true" ng-click="responseInvitation(false)">
        <i class="ion-close-round"></i>
      </div>

      <div ng-hide="showClosePendingInvitation" class="phraseRejoindre">
        <div class="containerImgInvitation">
            <img class="imgInvitation" src="{{emojiPath}}" alt="" />
        </div>
        <div class="infosParcourt">
          <span class="senderName">{{senderName}}</span>
          <span class="duration"></span>
        </div>
      </div>

      <div ng-show="showClosePendingInvitation" class="phraseRejoindreAccepted">
        <div class="containerImgInvitation">
            <img class="imgInvitation" src="{{emojiPath}}" alt="" />
        </div>
        <div class="infosParcourt">
          <span class="senderName">{{senderName}}</span>
          <span class="duration"></span>
        </div>
      </div>
      <i ng-click="gestureInfosMap()" class="chevron ion-chevron-down"></i>
    </div>
</ion-view>
