<ion-view hide-back-button="true" view-title="JoinMe">
  <ion-nav-buttons side="left">
    <button ng-hide="activeTab == 'home'" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <i ng-hide="activeTab == 'home'" class="ion-gear-a" ui-sref="settings"></i>
  </ion-nav-buttons>
  <ng-map></ng-map>
    <button ng-show="showClosePendingInvitation" ng-click="stopInvitation()" type="button" name="button" class="closePendingInvitation"><i class="ion-close-round"></i></button>
    <div class="infosMap" ng-show="showDirection === true">
      <div class="transport walk" kind='walk' ng-click="changeTransportKind('walk')">
        <i class="ion-android-walk"></i> <span class="transport walk"></span>
      </div>
      <div class="transport bicycle" kind="bicycle" ng-click="changeTransportKind('bicycle')">
        <i class="ion-android-bicycle"></i> <span class="transport bicycle"></span>
      </div>
      <div class="transport car" kind="car" ng-click="changeTransportKind('car')">
        <i class="ion-android-car"></i> <span class="transport car"></span>
      </div>
      <div class="emojiInvitation">
          <img src="img/emoji/{{emojiPath}}" alt="" />
      </div>
      <div class="accept" ng-hide="response === true" ng-click="responseInvitation(true)">
        <i class="ion-checkmark-round"></i> Join
      </div>
      <div class="refuse" ng-hide="response === true" ng-click="responseInvitation(false)">
        <i class="ion-close-round"></i> Refuse
      </div>
    </div>
    <div ng-hide="showDirection === true" class="containerBtn">
      <a ui-sref="invitation">
        <button class="button button-outline button-positive joinmeBtn">Join Me!</button
      </a>
    </div>
</ion-view>
