<ion-view view-title="Registration">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone number</span>
        <input type="tel" placeholder="Phone number" ng-model="dataRegistration.phoneNumber">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="dataRegistration.password1">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Confirm password</span>
        <input type="password" placeholder="Confirm password" ng-model="dataRegistration.password2">
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="create()">
    Create
    </button>
  </ion-content>
</ion-view>
