<ion-view view-title="Settings">
  <ion-nav-buttons side="left">
    <button ng-hide="activeTab == 'home'" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <div class="containerImg">
    <img id="profil-picture" src="img/profil-picture-empty.png" alt="" />
  </div>
  <div class="center">
    <button class="button button-outline button-positive addPicture" ng-click="addPicture()"> <i class="ion-plus"></i> Add picture</button>
  </div>
</ion-view>
